.footer{
  background-color: rgb(7, 7, 7);
  font-weight: 100;
  width: 100%;
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: max-content;
  color: white;
}

.rights{
  text-align: center;
  font-size: var(--fs-s);
  margin-bottom: 20px;
}
