.navbar-container{
  width: 100%;
  height: 65px;
  /* border-bottom: 1px solid var(--primary-color); */
  position: fixed;
  font-family: var(--main-font);
  display: flex;
  background-color: white;
  z-index: 1;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navbar-container.shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.logo-section{
  display: flex;
  width: 10%;
  justify-content: center;
  margin-left: 20px;
  /* border: 1px solid red; */
}

.logo {
  height: 100%;
  min-width: 50px;
}

.logo img{
  width: 100%;
  height: 100%;
}

.tabs-section{
  list-style-type: none;
  display: flex;
  width: 35%;
  /* border: 1px solid red; */
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.tabs-section li{
  user-select: none;
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  cursor: pointer;
  font-size: var(--fs-s);
}

.tabs-section li:hover{
  color: var(--primary-color)
}

.links-section{
  gap: 20px;
  display: flex;
  width: 10%;
  margin-right: 20px;
  justify-content: center;
  align-items: center;
}

.links-section i{
  color: rgba(0, 0, 0, 0.8)
}

.links-section i:hover{
  cursor: pointer;
  color: var(--primary-color)
}

.menu-icon-container{
  display: none;
}

.nav-menu{
  display: none;
}

@media screen and (max-width: 600px) {

  .nav-menu{
    display: flex;
    padding: 10px 0px 10px 0px;
    position: fixed;
    top: 65px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    background-color: white;
    border-bottom: 1px solid rgb(173, 173, 173);
    z-index: 1;
  }

  .nav-menu li{
    display: flex;
    user-select: none;
    gap: 5px;
    padding: 10px;
    font-weight: 500;
    width: 93%;
    border-radius: 2px;
  }

  .nav-menu li:hover{
    background-color: rgba(0, 123, 255,0.2);
    cursor: pointer;
  }

  .small-nav-menu-icon{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
    color: rgb(37, 37, 37);
  }

  .menu-icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 15%;
    height: 100%;
  }

  .menu-circle-hover{
    height: 50px;
    width: 50px;
    background-color: rgba(0, 123, 255,0.1);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
  }

  .small-nav-menu-icon i{
    margin-top: 5px;
  }

  .links-section{
    display: none;
  }

  .tabs-section{
    display: none;
  }
}
