<div class="navbar-container">
  <div class="logo-section">
    <div class="logo">
      <img src="../../assets/Images/KYOnly LogoBlack.png" alt="">
    </div>
  </div>

  <div class="tabs-section">
    <li (click)="onClick('work')">Work</li>
    <li>Resume</li>
    <li (click)="onClick('contact')">Contact</li>
  </div>

  <div class="links-section">
    <a href="https://github.com/kareemyasser8" target="_blank">
      <i class="bi bi-github"></i>
    </a>
    <a href="https://www.linkedin.com/in/kareemyasser8/" target="_blank">
      <i class="bi bi-linkedin"></i>
    </a>

  </div>


  <div class="menu-icon-container">
    <div class="menu-circle-hover" *ngIf="toggleMenu" @fade>

    </div>
    <div class="small-nav-menu-icon" (click)="showMenu()">
      <i class="bi bi-list"></i>
    </div>
  </div>


</div>


<div class="nav-menu" *ngIf="toggleMenu" @zippy @fade>
  <li (click)="onClick('work')">Work</li>
  <li>Resume</li>
  <li (click)="onClick('contact')">Contact</li>
  <li (click)="navigateToPage('https://github.com/kareemyasser8')">GitHub</li>
  <li (click)="navigateToPage('https://www.linkedin.com/in/kareemyasser8/')">Linked In</li>
</div>

<!-- @menuAnimation -->
