<div class="intro-container">
  <div class="content fade-in">
    <h1>Hi, my name is Kareem & I'm<br>
      <span>frontend developer</span>
    </h1>

    <p>I am a frontend developer based in Egypt with 1 year of experience building web apps. Committed to delivering
      visually engaging and user-friendly products, and eager to take on new challenges and opportunities to learn.</p>

    <div class="btns">
      <button (click)="onClick('contact')" class="contact-btn">Contact me</button>
      <button (click)="onClick('work')" class="work-btn">Check my work</button>
    </div>
  </div>
</div>
