.intro-container {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* border: 1px solid red; */
  min-height: calc(100vh - 65px);
}

.content{
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.content h1 {
  font-family: var(--heading-font);
  text-align: center;
  font-size: var(--fs-xl);
}

h1 span{
  color: var(--primary-color);
  font-family: var(--special-font);
}

.intro-container p{
  font-family: var(--main-font);
  width: 80%;
  font-size: var(--fs-m);
}

.btns{
  display: flex;
  width: 80%;
  /* border: 1px solid red; */
  justify-content: center;
  gap: 20px;
}

@media screen and (max-width: 370px) {

  .btns{
    flex-direction: column;
    align-items: center;
  }

  .content{
    margin-bottom: 0px;
  }
}

.contact-btn{
  background-color: var(--primary-color);
  color: white;
}

.contact-btn:hover{
  background-color: #0067d4;
  transition: 0.1s ease-in;
}

.work-btn{
  border: 1px solid black;
  background-color: transparent;
}

.work-btn:hover{
  border: 1px solid #0067d4;
  color: #0067d4
}

