<div class="skills-container">
  <div class="content">
    <h1>Skills</h1>
   <p>The following is a list of the frontend and the backend technologies with which I am familiar.</p>

   <div class="technologies-container">
        <div class="icons">
          <div *ngFor="let skill of skills" class="icon-circle">
            <img [src]="imagePath + skill + '.png'" alt="">
          </div>
      </div>

      <div class="technologies">
        <div *ngFor="let skill of skills" class="technology">
          {{skill}}
        </div>
      </div>
   </div>

  </div>
</div>

