.skills-container {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  /* border: 1px solid red; */
  /* min-height: calc(100vh - 65px); */
}

.content{
  /* margin-top: 5%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.content h1 {
  font-family: var(--heading-font);
  text-align: center;
  font-size: var(--fs-xl);
}



.skills-container p{
  font-family: var(--main-font);
  text-align: center;
  width: 80%;
  font-size: var(--fs-m);
}

.technologies-container{
  /* border: 1px solid red; */
  width: 100%;
  /* height: max-content; */
  display: flex;
  padding: 20px;
}

.icons{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  border-right: 2px dashed rgb(139, 139, 139);
}

.icon-circle{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgb(214, 214, 214);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .icon-circle {
    width: 50px;
    height: 50px;
    font-size: 12px;
  }
}

.icon-circle img{
  width: 75%;
}

.technologies{
  display: flex;
  flex: 1;
  height: max-content;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
  /* border: 1px solid orange; */
}

.technology{
  background-color: rgb(228, 228, 228);
  padding: 0 10px;
  cursor: pointer;
  height: max-content;
  /* width: calc(max-content + 5px); */
  border-radius: 5px;
}

/* .techonoloy:hover{
  text-decoration: underline;
} */

.technologies .technology:hover + .icons .icon-circle:hover {
  transform: scale(1.2);
}
