.contact-container {
  width: 100%;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #edecec;
}

.content{
  display: flex;
  width: 100%;
  padding:20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.content h1 {
  font-family: var(--heading-font);
  text-align: center;
  font-size: var(--fs-xl);
}

.contact-container p{
  font-family: var(--main-font);
  text-align: center;
  width: 80%;
  font-size: var(--fs-m);
}

.form-container{
  width: 95%;
  height: 100%;
  display: flex;
  position: relative;
  /* border: 1px solid red; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 20px 20px 20px;
}

.loading {
  position: absolute;
  display: flex;
  align-self: stretch;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin:  0px 20px 20px 20px;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 1;
}

.form{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: white;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 5px;
  padding: 20px;
  font-size: var(--fs-s);
}

.form div{
  width: 100%;
  /* border: 1px solid red; */
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px
}

.form div{
  margin-bottom: 10px;
}

input{
  width: 100%;
  border-radius: 1;
  padding: 10px 20px;
}

input:focus{
  outline: none;
  border: 2px solid var(--primary-color);
}

textarea{
  width: 100%;
  padding: 10px 20px;
  resize: none;
}

textarea:focus{
  outline: none;
  border: 2px solid var(--primary-color);
}

button{
  background-color: #313131;
  color: white;
}

button:hover{
  background-color: #757575 ;
  transition: 0.2s ease-in-out;
}

.error{
  color: rgb(233, 62, 62);
}


.contact-info{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  background-color: white;
  font-size: var(--fs-s);
  padding: 10px;
  /* gap: 15px; */
  border: 1px solid rgb(207, 207, 207);
}

@media screen and (max-width: 770px) {
  .contact-container{
    width: 100%;
    padding: 0px;
  }

  .content{
    width: 100%;
    padding: 20px 0px;
  }

  .contact-info{
    justify-content: space-around;
  }
}
