@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

* {
  margin: 0;
}

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('./assets/Fonts/ProximaNova-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('./assets/Fonts/Proxima-Nova-Extrabold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Caskaydia-Bold';
  src: url('./assets/Fonts/CaskaydiaCoveNerdFont-Bold.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary-color: rgba(0, 123, 255,1);
  --main-font: 'ProximaNova-Regular';
  --heading-font: 'ProximaNova-Bold';
  --special-font: 'Caskaydia-Bold'
}

button {
  padding: 13px;
  border-radius: 3px;
  border: none;
  min-width: max-content;
  width: 200px;
  font-size: 1.1rem;
  font-family: var(--main-font);
}


.fade-in{
  opacity: 0;
  transform: translateY(100%);
  transition: 1.5s ease-out;
}

.appear{
  opacity: 1;
  transform: translateY(0px);
}

@media screen and (max-width: 600px) {
  button {
    width: 150px;
    padding: 7px
  }
}
