@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('./assets/Fonts/ProximaNova-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('./assets/Fonts/Proxima-Nova-Extrabold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Caskaydia-Bold';
  src: url('./assets/Fonts/CaskaydiaCoveNerdFont-Bold.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary-color: rgba(0, 123, 255,1);
  --main-font: 'ProximaNova-Regular';
  --heading-font: 'ProximaNova-Bold';
  --special-font: 'Caskaydia-Bold';

  --fs-xl: clamp(1rem, 5vw + 1rem, 3.3rem);
  --fs-l: clamp(1rem,1vw + 1rem,1.5rem);
  --fs-m: clamp(1rem,1vw + 1rem,1.5rem);
  --fs-s: 1.1rem;
}

html,body{
  font-family: var(--main-font);
}

button {
  padding: 9px;
  border-radius: 3px;
  border: none;
  min-width: max-content;
  width: 200px;
  font-size: var(--fs-s);
  font-family: var(--main-font);
}


.fade-in{
  opacity: 0;
  transform: translateY(100%);
  transition: 1s ease-out;
}

.appear{
  opacity: 1;
  transform: translateY(0px);
}

@media screen and (max-width: 600px) {

  h1{
    width: 80%;
  }

  button {
    width: 150px;
    padding: 7px
  }
}
